<p id="notice"><%= notice %></p>

<h1>Listing Home Batteries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @home_batteries.each do |home_battery| %>
      <tr>
        <td><%= link_to 'Show', home_battery %></td>
        <td><%= link_to 'Edit', edit_home_battery_path(home_battery) %></td>
        <td><%= link_to 'Destroy', home_battery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home battery', new_home_battery_path %>
